<h2>Mailing List</h2>
<p>We use a mailing list to cordinate events and communitcation <a href="https://groups.google.com/forum/#!forum/bluelinetechnologists/join" target="_blank">join here</a></p>

<h2>Chat</h2>
<p>If you what to connect with people right away login to our IRC</p>
<iframe src="https://kiwiirc.com/client/irc.geekshed.net/?nick=blue_liner|?#bluelinetechnologists" style="border:0; width:100%; height:450px;"></iframe>
