<% initial_article = blog("announcements").articles.first %>

<div id="header">
  <h1><img id="icon" src="/images/software-icon.png" /><%= initial_article.title %></h1>
</div>

<div id="upcomming">
  <%= initial_article.body %>
</div>

<dir id="history">
  <% blog("blog").articles.take(12).each do |article| %>
    <div class="icon-field"><div id="circle"></div></div>
    <a href="<%= article.url %>">
      <div class="history-item">
        <%= article.summary %>
      </div>
    </a>
  <% end %>
</dir>
